<!-- your html code here -->
<div>
    <h4>Contact</h4>
    <p>fdsafadsfasdfsdafasfasdfasfsad</p>
</div>
<div class="border p-3 bg-light">
    <div class="mb-3 row">
      <label for="exampleFormControlInput1" class="col-sm-2 col-form-label">Your E-mail</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Your message</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="text-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>