<!-- Tyler -->
<div class="container">
    <div>
        <h4>Portfolio</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aperiam ab odit rerum magni similique suscipit nesciunt dignissimos nihil error molestias, praesentium alias quas, cupiditate et! Non placeat sed quibusdam?</p>
    </div>
    <div class="row my-3">
      <div class="col-md-4">
        <img src="https://picsum.photos/id/289/700/400" alt="Image 1">
      </div>
      <div class="col-md-4">
        <img src="https://picsum.photos/id/289/700/400"  alt="Image 2">
      </div>
      <div class="col-md-4">
        <img src="https://picsum.photos/id/289/700/400" alt="Image 3">
      </div>
    </div>
    <div class="container">
        <div class="row my-3">
            <div class="col-md-4">
                <h6>The Project</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem quo mollitia ullam! Quam dicta ullam recusandae eveniet ducimus, ut consequuntur, ab nisi quod aspernatur quis provident quo, sapiente id optio.</p>

            </div>
            <div class="col-md-4">
                <h6>The Project</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, repellendus eaque rem libero laboriosam ipsa itaque aspernatur dolorem labore exercitationem alias possimus, reprehenderit, error consectetur? Possimus, natus expedita? At, accusamus!</p>

            </div>
            <div class="col-md-4">
                <h6>The Project</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quibusdam natus fugiat molestias nihil enim, illum ipsam ducimus perspiciatis dolorem harum repudiandae? Autem laboriosam architecto reiciendis eveniet! Velit, dolore ex.</p>

            </div>